body {
    background-image: url("white_wall.png");
}

.btn-secondary {
    background-color: #c94820;
    color: #fff;
}

.jumbotron-background {

    background-image: url("beans-background.jpg");
    color: #fff;
    font-size: 1em;
    background-size: cover;
}

.overlay {
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.jumbotron {
    padding: 0;
}

#logo {
    max-width: 250px;
    height: 250px;

}

#shadow-form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}